/* меню страниц */
.menu {
  background-color: #f1f1f1;
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.4);
  width: 100%;
}
/*Теперь уберем маркеры со списка и произведем выравнивание его элементов в одну
линию*/
.menu li {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  color: #6f6d6d;
}
.menu a {
  text-decoration: none; /* Убирает подчеркивание для ссылок */
  color: #6f6d6d;
}
.menu li:hover {
  background-color: #f87777;
  cursor: pointer;
  color: #f8f8f8;
}
.menu ul {
  padding: 0px;
}
.active {
  background-color: #f87777;
  color: #f8f8f8;
}
.active a:visited {
  color: #f8f8f8;
}
.menu a:hover {
  color: #f8f8f8;
}
.block {
  padding: 10px 20px;
}

.tables-block {
  display: flex;
  flex-wrap: wrap;
}

.t-unit {
  padding: 10px;
}

.table {
  background: #f5ffff;
  border-collapse: collapse;
  text-align: left;
}
.table th {
  border: 1px solid #e3eef7;
  background: #efefef;
  padding: 10px 15px;
  position: relative;
}

.table tr:nth-child(odd) {
  background: #f7f7f7;
}

.table td {
  border: 1px solid #e3eef7;
  padding: 10px 15px;
  position: relative;
}

.books-container {
  display: flex;
  flex-flow: wrap;
}

.card {
  border-radius: 25px;
  box-shadow: 2px 1px 1px #21212121;
  background-color: #f7f9fb;
  width: 450px;
  padding: 1.25em;
  margin: 1em;
  color: #556b2f;
}

.filter-panel {
  border: 1px solid #5da2d5;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 5px;
  color: #5da2d5;

  height: 100%;
  flex: 0 0 20%;
}

.aside__control {
  padding-top: 5px;
}

.search-block {
  display: flex;
}

.main__search-settings {
  padding-top: 5px;
  color: #f796b8;
}

.take_form {
  width: 100px;
  margin-left: 80%;
}
